@import url("base.css");

body {
    margin: 0 auto;
    background-image: url("../images/backgrond.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    box-shadow: 0 45px 100px rgba(255, 252, 252, 0.649),
    inset 0 0 0 1000px rgba(21, 60, 36, 0.834);
    font-family: Arial, sans-serif;
}

.container--1 {
    margin: 0 auto;
    max-width: 80%;
}

h1 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(10, 61, 6, 0.864);
    font-weight: 10;
}

h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(244, 248, 244, 0.934);
    font-weight: 10;
    margin-top: 40px;
    align-items: center;
}

h5 {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(244, 248, 244, 0.934);
    font-weight: 10;
    margin: 20px;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 20px auto 0;
    align-items: center;
    grid-gap: 20px;
}

img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 25px;
}

h4 {
    position: absolute;
    bottom: 3px;
    color: white; /* สีข้อความ */
    font-size: 20px; /* ขนาดตัวอักษร */
    font-weight: bold; /* ตัวหนา */
    left: 10px;
    background: rgba(27, 27, 27, 0.5);
}

.card-box {
    padding: 2px 16px;
    margin: 0 auto;

}

.subtopic {
    align-items: center;
}

.grid .box {
    height: 200px;
    background-position: center;
    background-size: cover;
    position: relative;
    transition: 0.4s;
    z-index: auto;
    max-height: none;
    max-width: 100%;
    border-radius: 20px;

}

.grid .box:hover {
    transform: translateY(-15px);
}

/* *********Responsive mobie phone******* */

@media only screen and (min-width: 900px) and (max-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        align-items: center;
        margin: 20px 0 0;
        padding: 0;
    }

    .card-box {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .container--1 {
        max-width: 100%;
    }

    h2 {
        margin-left: 20px;
    }

}

@media only screen and (min-width: 600px) and (max-width: 900px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        margin: 20px 0 0;
        padding: 0;
    }

    .card-box {
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .container--1 {
        max-width: 100%;
    }

    h2 {
        margin-left: 20px;
    }

}

@media only screen and (max-width: 600px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    img {
        width: 100%;
        height: auto;
    }

    .card-box {
        max-width: 100%;
        justify-content: center;
    }

    .container--1 {
        max-width: 100%;
    }

    h2 {
        margin-left: 20px;
    }
}
