@import url("base.css");

nav {
    background-color: #0e3e0e;
    border-bottom: 2px solid #555;
    position: sticky;
    top: 0;
    z-index: 2;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.nav-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    position: relative;

}

.logo h3 {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 24px;
}

.topic {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    position: relative;
    margin: 0;
}

.topic li {
    /* margin-left: 10px; */
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    height: 40px;
    margin: 0;
    padding: 0 5px;

}

.topic a {
    margin-left: 20px;

}

.topic li {
    color: #fff;
    text-decoration: none;
    margin: 0 auto;
}

/* Dropdown Styles */
.topic ul {
    display: none;
    position: absolute;
    background-color: #0e3e0e;
    min-width: 130px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
    margin: 0;
}

.topic li:hover > ul {
    display: block;

}

/* เมื่อเมาส์วางตรงแถบ */
.topic li:hover {
    background-color: #114d11;
}

.topic li {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    text-align: center;


}

/* *****Ham-menu******* */

.ham-menu {
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 1rem;
}

.bar1, .bar2, .bar3 {
    width: 30px;
    height: 5px;
    background-color: #fcfafa;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.menu-active {
    display: block !important;
}

@media only screen and (min-width: 700px) {
    .ham-menu {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .topic {
        display: none;
    }

    .nav-con {
        padding: 1rem;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
    }

    .topicmenu-active {
        width: 100%;
    }

    .topicmenu-active li {
        margin: 1rem 0;
        padding: 1rem 0.5rem;
        transition: 0.2s;
        display: block;
        color: white;
        text-decoration: none;
    }

    .topicmenu-active li a {
        color: #fff;
        text-decoration: none;
        margin: 0 auto;
        font-size: 16px;
    }

    .topicmenu-active li:hover {
        background-color: #8c8b8b;
    }

}
