@import url("base.css");

body {
    font-family: Arial, sans-serif;
    background-image: url("../images/Lam2.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg {
    box-shadow: 0px 45px 100px rgba(255, 252, 252, 0.649),
    inset 0 0 0 1000px rgba(21, 60, 36, 0.834);
    margin: 0 auto;
    min-height: 100%;
    height: auto;
}

/* ปุ่ม */
.btn {
    font-size: 16px;
    font-weight: bold;
    background: #09e769eb;
    width: 120px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

/* *************************************** */
.content-box {
    margin: 0 auto;
    width: 70%;
    max-width: 1000px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 80px;
    color: #0e3e0e;
    font-size: 28px;
    text-align: center;
   font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}

.container-box {
    margin-top: auto;
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    box-sizing: border-box;
}

.container-box .card {
    position: relative;
    max-width: 750px;
    height: auto;
    background: linear-gradient(245.59deg, #68f7a6 0%, #fdf4ba 28.53%, #fcfefc 75.52%);
    margin: 0 auto;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.5);
    transition: 0.4s ease-in-out;  
    align-items: center;
}

.container-box .card:hover {
    height: auto;
}

.container-box .card .cimg {
    position: relative;
    max-width: 500px;
    height: auto;
    top: -60px;
    margin: 0;
    z-index: 1;
    
}

.container-box .card .cdetail {
    position: relative;
    max-width: 100%;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: none;
    color: black;
    /* visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out; */
}
/* .container-box .card:hover .hover-text::before{
    visibility: visible;
} */
.container-box .card .cdetail .hover-text{
  position: relative;
  top: 220px;
  text-align: center;

}
.container-box .card .ddetail{
    visibility: hidden;
    opacity: 0;
    transition: 0.6s ease-in-out; 
    max-width: 100%;
}

.container-box .card:hover .ddetail {
    visibility: visible;
    opacity: 1;
    margin-top: 80px;
    
}
.container-box .card:hover .cdetail{
    visibility: hidden;
}

p {
    margin-bottom: 30px;
    font-size: 16px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 200;
    
}

h4 {
    margin-top: 20px;
    font-size: 18px;
    font-family: "Pridi", serif;
    font-weight: 400;
    font-style: normal;
}

/* สไลด์รูปภาพ ************/

.slide-container {
    position: relative;
    
    width: 100%;
    height: 375px;
    margin: 0 auto;
    overflow: hidden;
}

.slide {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background: #0e3e0e;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: #4d4f4d;
}

/* *********Resposive mobile phone*********** */
@media only screen and (min-width: 600px) and (max-width: 768px){
    .content-box{
        width: 100%;
    }
    .container-box{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .card{
        width: 100%;
        max-height: auto;
    }
    .cimg{
       width: 100%;
       
       
    }
    .slide-container{
        max-width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        align-items: start;
    }

}
@media only screen and (max-width: 600px){
    
    
    .content-box{
        width: 100%;
    }
    .container-box{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
    }
    .card{
        width: 100%;
        max-height: auto;
    }
    .cimg{
       width: 100%;
       
       
    }
    .slide-container{
        max-width: auto;
        height: auto;
        margin: 0;
        padding: 0;
        align-items: start;
    }
   
   
}
