<!-- <!DOCTYPE html>
<html lang="en">
<body>
    <div>Teachable Machine Image Model</div>
<button type="button" onclick="init()">Start</button>
<div id="webcam-container"></div>
<div id="label-container"></div>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
<script type="text/javascript">
    // More API functions here:
    // https://github.com/googlecreativelab/teachablemachine-community/tree/master/libraries/image

    // the link to your model provided by Teachable Machine export panel
    const URL = "./static/";

    let model, webcam, labelContainer, maxPredictions;

    // Load the image model and setup the webcam
    async function init() {
        const modelURL = URL + "model.json";
        const metadataURL = URL + "metadata.json";

        // load the model and metadata
        // Refer to tmImage.loadFromFiles() in the API to support files from a file picker
        // or files from your local hard drive
        // Note: the pose library adds "tmImage" object to your window (window.tmImage)
        model = await tf.loadGraphModel(modelURL);

        maxPredictions = 20;

        // Convenience function to setup a webcam
        const flip = false; // whether to flip the webcam
        webcam = new tmImage.Webcam(180, 180, flip); // width, height, flip
        await webcam.setup({ facingMode: "environment" }); // request access to the webcam
        await webcam.play();
        window.requestAnimationFrame(loop);

        // append elements to the DOM
        document.getElementById("webcam-container").appendChild(webcam.canvas);
        labelContainer = document.getElementById("label-container");
        for (let i = 0; i < maxPredictions; i++) { // and class labels
            labelContainer.appendChild(document.createElement("div"));
        }
    }

    async function loop() {
        const fps = 15;
        webcam.update(); // update the webcam frame
        await predict();
        setTimeout(() => {
            window.requestAnimationFrame(loop);
        }, 1000 / fps);
    }

    const classNames = ["ขี้เหล็ก", "มะระขี้นก", "มะม่วงหาวมะนาวโห่", "โหระพา", "ขึ้นฉ่าย",
        "กุ๋ยช่าย","ชะอม", "ผักชี", "กระชาย", "ข่า", 
        "ขิง","ตำลึง", "กะเพรา", "มะกรูด", "ตะไคร้", 
        "มะนาว","ใบเตย", "ต้นหอม", "ขมิ้น", "ชะพลู"];

    // run the webcam image through the image model
    async function predict() {
        const input = tf.tidy(() => {
            let img = tf.browser.fromPixels(webcam.canvas);
            img = tf.cast(img, 'float32');
            return img.expandDims(0);
        })
        // predict can take in an image, video or canvas html element
        const prediction = await model.predict(input);
        const prediction2 = await prediction.array();
        for (let i = 0; i < maxPredictions; i++) {
            // const classPrediction = prediction[i].className + ": " + prediction[i].probability.toFixed(2);
            const classPrediction = classNames[i] + ": " + prediction2[0][i].toFixed(2);
            labelContainer.childNodes[i].innerHTML = classPrediction;
        }
    }
</script>

</body>

</html>




{% extends  "Navbar.html"%}
{% block content %}
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Itim&family=Noto+Serif+Thai:wght@100..900&family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">

    <title>camera Fram</title>
    <link rel="stylesheet" href="static/css/camera.css">
    <!-- <style>
        .bar-container {
            width: 300px;
            margin: 20px 0;
        }
        .bar {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
        }
        .bar-label {
            width: 100px;
            font-weight: bold;
        }
        .bar-fill {
            flex: 1;
            background-color: #938e8e;
            border-radius: 5px;
            overflow: hidden;
        }
        .bar-fill span {
            display: block;
            height: 20px;
            border-radius: 5px;
            text-align: center;
            color: rgb(237, 9, 9);
            font-weight: bold;
            background-color: darkred;
        }
    </style> -->
</head>
<body>
<div class="container-model">
    <img src="/static/images/tee.png">
    <div class="card-model">
        <div class="text">วิเคราะห์สมุนไพรด้วยโมเดล</div>
        <div id="webcam-container"></div>
        <div id="bar-chart"></div>
        <button id="toggle-button" onclick="toggleWork()">STOP</button>
    </div>
</div>
    
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
    <script type="text/javascript">
        const URL = "./static/";
        let model, webcam, maxPredictions;
        let doWork = true;
    
        async function init() {
            const modelURL = URL + "model.json";
            const metadataURL = URL + "metadata.json";
    
            model = await tf.loadGraphModel(modelURL);
            maxPredictions = 20;
    
            const flip = false; 
            webcam = new tmImage.Webcam(280, 280, flip); 
            await webcam.setup({ facingMode: "environment" }); 
            await webcam.play();
            window.requestAnimationFrame(loop);
    
            document.getElementById("webcam-container").appendChild(webcam.canvas);
        }
    
        async function loop() {
            if(doWork) {
                const fps = 10;
                webcam.update();
                await predict();
                setTimeout(() => {
                    window.requestAnimationFrame(loop);
                }, 1000 / fps);
            }
        }
    
        const classNames = ["ขี้เหล็ก", "มะระขี้นก", "มะม่วงหาวมะนาวโห่", "โหระพา", "ขึ้นฉ่าย",
            "กุ๋ยช่าย","ชะอม", "ผักชี", "กระชาย", "ข่า", 
            "ขิง","ตำลึง", "กะเพรา", "มะกรูด", "ตะไคร้", 
            "มะนาว","ใบเตย", "ต้นหอม", "ขมิ้น", "ชะพลู"];
    
        async function predict() {
            const input = tf.tidy(() => {
                let img = tf.browser.fromPixels(webcam.canvas).resizeBilinear([180, 180]);
                img = tf.cast(img, 'float32');
                return img.expandDims(0);
            });
            const prediction = await model.predict(input);
            const prediction2 = await prediction.array();
    
            let results = [];
            for (let i = 0; i < maxPredictions; i++) {
                results.push({
                    name: classNames[i],
                    probability: prediction2[0][i]
                });
            }
    
            results = results.sort((a, b) => b.probability - a.probability).slice(0, 3);
            updateBarChart(results);
        }
    
        const fileMap = {
            "ขี้เหล็ก": "Lam",
            "มะระขี้นก": "Marakinoc",
            "มะม่วงหาวมะนาวโห่": "Mamuang",
            "โหระพา": "basil",
            "ขึ้นฉ่าย": "Celery",
            "กุ๋ยช่าย": "Leek",
            "ชะอม": "Senegalia",
            "ผักชี": "Cilantro",
            "กระชาย": "Fingerroot",
            "ข่า": "Galanga",
            "ขิง": "Ginger",
            "ตำลึง": "Ivy",
            "กะเพรา": "Ocimum",
            "มะกรูด": "Kaffir",
            "ตะไคร้": "Lapine",
            "มะนาว": "Lime",
            "ใบเตย": "Pandan",
            "ต้นหอม": "Tonhom",
            "ขมิ้น": "Turmeric",
            "ชะพลู": "Wildbetat"
        };
    
        function updateBarChart(results) {
            const barChart = document.getElementById("bar-chart");
            barChart.innerHTML = "";
    
            results.forEach(result => {
                const bar = document.createElement("div");
                bar.className = "bar";
                const label = document.createElement("div");
                label.className = "bar-label";
                label.textContent = result.name;
                
                const barFill = document.createElement("div");
                barFill.className = "bar-fill";
                const span = document.createElement("span");
                span.className = result.name;
                span.style.width = `${result.probability * 100}%`;
                span.textContent = `${(result.probability * 100).toFixed(2)}%`;
                barFill.appendChild(span);
                
                const infoButton = document.createElement("button");
                infoButton.className = "info-button";
                infoButton.textContent = "ข้อมูลเพิ่มเติม";
                infoButton.onclick = function() {
                    window.location.href = `/${fileMap[result.name]}`;
                };
    
                bar.appendChild(label);
                bar.appendChild(barFill);
                bar.appendChild(infoButton);
                barChart.appendChild(bar);
            });
        }
    
        function toggleWork() {
            doWork = !doWork;
            document.getElementById('toggle-button').textContent = doWork ? 'STOP' : 'START';
            if (doWork) {
                window.requestAnimationFrame(loop);
            }
        }
    
        init();
    </script>
    
</body>
</html>
{% endblock %} -->
