<!-- {% extends 'base.html' %}
{% block content %}
<section class="card">
      <div class="card-content">
          <div class="text">
              <h1>จำแนกสมุนไพร</h1><br>
              <h3>เทคนิคการเรียนรู้ด้วยเครื่องจากการฝึก</h3><br>
              <p>สนุกได้ทุกที่ เรียนรู้สมุนไพรทุกชนิด<br>
              การเรียนรู้แบบเคลื่อนที่ ตอบโจทย์ เข้าถึงข้อมูลได้หลากหลาย<br>
              ของสมุนไพรในชีวิตประจำวัน ที่คุณยังไม่รู้!!!</p>
              <a href="/scan"><button type="submit"> เริ่มต้นใช้งาน</button></a>
          </div>
          <div class="image">
              <img src="../static/images/2a46c745-e8f4-4ed5-b379-5b931408dbd7.jpg" alt="รูปภาพ">
          </div>
      </div>
  </section>


  <footer>
      <p>&copy; 2024 เว็บไซต์ของเรา. สงวนลิขสิทธิ์</p>
  </footer>

</body>
{% endblock %} -->