{% extends  "Navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Itim&family=Noto+Serif+Thai:wght@100..900&family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>ใบโหระพา</title>
    <link rel="stylesheet" href="{{ url_for("ml-herb.static", filename="css/plantPage.css") }}">
    <!-- <script src="plantPage.js"></script> -->
</head>
<body>
<div class="bg">
    <div class="content-box">
        <div class="container-box">   
            <div class="card">
                <h2>ใบโหระพา</h2>
                <div class="cimg">
                    <div class="slide-container">
                        <div class="slide fade">
                            <img src="https://inwfile.com/s-cr/nbv5oj.jpg" style="width:100%">
                        </div>
                        <div class="slide fade">
                            <img src="https://s.isanook.com/he/0/ud/3/15809/sweet-basils.jpg?ip/crop/w700h366/q80/jpg" style="width:100%">
                        </div>
                        <div class="slide fade">
                            <img src="https://ca.lnwfile.com/_/ca/_raw/ps/q7/bj.jpg" style="width:100%">
                        </div>
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

                <div class="cdetail">
                    <p class="hover-text">แตะเพื่อดูข้อความ</p>
                    <div class="ddetail">
                    <h4>ข้อมูลเบื่องต้น</h4>
                    <p style="text-indent: 2.5em">
                        ใบโหระพา ออกเป็นใบเดี่ยว แทงออกบริเวณข้อของกิ่ง ใบมีรูปไข่ คล้ายใบกะเพรา ใบมีสีเขียวเข้มหรือม่วงแดง หรือ เขียวอมม่วง 
                        กว้างประมาณ 3-4 ซม. ยาวประมาณ 6 ซม. โคนใบมน ใบปลายแหลม แผ่นใบเรียบ และค่อนข้างเป็นมัน ขอบใบหยักเป็นฟันเลื่อย 
                        มีเส้นใบมองเห็นชัดเจน ใบไม่มีขน ใบมีน้ำมันหอมระเหยทำให้มีกลิ่นหอม</p>
                    <h4>คุณสมบัติ</h4>
                        <p style="text-indent: 2.5em">โหระพา 1 ขีด มีเบต้าแคโรทีนสูงถึง 452.16 ไมโครกรัม ซึ่งสามารถช่วยป้องกันโรคหัวใจ 
                            และยังมีวิตามินและแร่ธาตุอื่น ๆ ด้วย เช่น วิตามินเอ วิตามินบี 1 วิตามินบี 2 วิตามินซี ธาตุแคลเซียม ธาตุฟอสฟอรัส ธาตุเหล็ก รวมไปถึงคาร์โบไฮเดรต โปรตีน และไขมัน เป็นต้น 
                            โดยสรรพคุณของโหระพาที่เรานำมาใช้ในการรักษาโรคหลัก ๆ แล้วจะใช้แค่ใบและน้ำมันสกัดจากใบโหระพาเป็นหลัก แต่ส่วนอื่น ๆ ก็มีประโยชน์ใช้ได้เหมือนกัน</p>
                        
                    <h4>ข้อควรระวัง</h4>
                        <p style="text-indent: 2.5em">หญิงตั้งครรภ์และหญิงที่กำลังให้นมบุตรสามารถรับประทานโหระพาในปริมาณปกติที่พบได้จากอาหารทั่วไปได้อย่างปลอดภัยแต่การใช้ในปริมาณมากอาจก่อให้เกิดอันตรายได้ 
                            สำหรับสตรีมีครรภ์และเด็กที่มีอายุต่ำกว่า 2 ปี รวมถึงผู้สูงอายุ ควรหลีกเลี่ยงน้ำมันหอมระเหยจากโหระพาเพราะทำให้เกิดอาการแพ้ง่าย
                            ผู้ที่มีเลือดออกผิดปกติอาจเสี่ยงมีเลือดออกมากยิ่งขึ้นเมื่อรับประทานน้ำมันโหระพาหรือสารสกัดจากโหระพา เนื่องจากมีฤทธิ์ชะลอการแข็งตัวของเลือด
                       </p>
                    </p>
                    <h4>เมนูแนะนำ</h4>
                    <p> - ไก่ผัดใบโหระพา<br>
                        - ข้าวราดปลาแซลมอนผัดเต้าเจี้ยวโหระพา
                   
                   
                        
                     
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let slideIndex = 0;
        showSlides(slideIndex);
    
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
    
        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slide");
            if (n >= slides.length) { slideIndex = 0 }
            if (n < 0) { slideIndex = slides.length - 1 }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none"; 
            }
            slides[slideIndex].style.display = "block"; 
        }
        </script>
</div>
</body>
</html>
{% endblock %}