{% extends  "Navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Itim&family=Noto+Serif+Thai:wght@100..900&family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>ต้นหอม</title>
    <link rel="stylesheet" href="{{ url_for("ml-herb.static", filename="css/plantPage.css") }}">
    <!-- <script src="plantPage.js"></script> -->
</head>
<body>
<div class="bg">
    <div class="content-box">
        <div class="container-box">   
            <div class="card">
                <h2>ต้นหอม</h2>
                <div class="cimg">
                    <div class="slide-container">
                        <div class="slide fade">
                            <img src="https://www.calforlife.com/image/food/Spring-onions.jpg" style="width:100%">
                        </div>
                        <div class="slide fade">
                            <img src="https://media.istockphoto.com/id/1487844880/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%95%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%AD%E0%B8%A1%E0%B8%AA%E0%B8%B5%E0%B9%80%E0%B8%82%E0%B8%B5%E0%B8%A2%E0%B8%A7%E0%B8%AA%E0%B8%94%E0%B8%9A%E0%B8%99%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%AA%E0%B8%B5%E0%B8%82%E0%B8%B2%E0%B8%A7.jpg?s=612x612&w=0&k=20&c=_jfNHmYDYH37qkhuu-tyFPPdn6KeJR8prAsTg0m9pd0=" style="width:100%">
                        </div>
                        <div class="slide fade">
                            <img src="https://media.istockphoto.com/id/865935122/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%9E%E0%B8%B7%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%A5%E0%B8%B1%E0%B8%87%E0%B8%95%E0%B9%89%E0%B8%99%E0%B8%AB%E0%B8%AD%E0%B8%A1%E0%B8%AA%E0%B8%B5%E0%B9%80%E0%B8%82%E0%B8%B5%E0%B8%A2%E0%B8%A7%E0%B8%AA%E0%B8%94.jpg?s=612x612&w=0&k=20&c=n0D1_I-ShmZ_WikAYpVd06V4PGsDL0lGyX92VFnm7T4=" style="width:100%">
                        </div>
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

                <div class="cdetail">
                    <p class="hover-text">แตะเพื่อดูข้อความ</p>
                    <div class="ddetail">
                    <h4>ข้อมูลเบื่องต้น</h4>
                    <p style="text-indent: 2.5em">
                        เป็นพืชล้มลุกขนาดเล็กตระกูลเดียวกับกระเทียม มีหัวสีขาวบ้างก็ปนสีม่วงอยู่ใต้ดิน ทำหน้าที่สะสมอาหาร ใบเป็นท่อยาว ปลายแหลม 
                        ภายในกลวง ดอกมีสีขาวออกเป็นช่อ ก้านช่อดอกยาว ช่อดอกเมื่อบานมีลักษณะคล้ายร่ม มีดอกย่อยเป็นจำนวนมาก </p>
                    <h4>คุณสมบัติ</h4>
                        <p style="text-indent: 2.5em">มีน้ำมันหอมระเหย  บรรเทาอาการหวัด มีสารฟลาโวนอยด์ต้านมะเร็ง
                            ช่วยป้องกันอาการท้องผูกและลดคอเลสเตอรอลในกระแสเลือด ช่วยต้านอนุมูลอิสระและกระตุ้นภูมิคุ้มกันให้ร่างกาย 
                            ลดความเสี่ยงจากอาการโรคกระดูกพรุน เพราะมี แคลเซียมและฟอสฟอรัส</p>
                        
                    <h4>ข้อควรระวัง</h4>
                        <p style="text-indent: 2.5em">ระวังผู้ป่วยที่รับประทานยากลุ่มวาร์ฟาริน (Warfarin-ยาป้องกันการอุดตันของเลือด) 
                            เนื่องจากต้นหอมมีวิตามินเคปริมาณมาก อาจส่งเสริมการทำงานของยาดังกล่าว ทำให้เลือดเป็นก้อน อาจเกิดการอุดตันในเส้นเลือดได้ และควรรับประทานในปริมาณที่เหมาะสม
                             เพราะต้นหอมมีรสร้อน อาจทำให้มีอาการเสียดท้องหรือแสบร้อนกลางอกในบางรายได้
                       </p>
                    </p>
                    <h4>เมนูแนะนำ</h4>
                    <p> - มะเขือเทศผัดไข่ ใส่ต้นหอม<br>
                        - ไก่ผัดต้นหอม
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let slideIndex = 0;
        showSlides(slideIndex);
    
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
    
        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slide");
            if (n >= slides.length) { slideIndex = 0 }
            if (n < 0) { slideIndex = slides.length - 1 }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none"; 
            }
            slides[slideIndex].style.display = "block"; 
        }
        </script>
</div>
</body>
</html>
{% endblock %}