{% extends  "Navbar.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Itim&family=Noto+Serif+Thai:wght@100..900&family=Pridi:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    
    <title>ขมิ้น</title>
    <link rel="stylesheet" href="/css/Lam.css">
    <!-- <script src="Lam.js"></script> -->
</head>
<body>
<div class="bg">
    <div class="content-box">
        <div class="container-box">   
            <div class="card">
                <h2>ขมิ้น</h2>
                <div class="cimg">
                    <div class="slide-container">
                        <div class="slide fade">
                            <img src="https://res.cloudinary.com/freshketimage001/image/upload/c_fit,w_800,h_800,q_auto,f_auto/imul6jj1f0trylhdji8j" style="width:100%">
                        </div>
                        <div class="slide fade">
                            <img src="https://down-th.img.susercontent.com/file/d9a9a1be4cbc1941acd999353eaff366" style="width:100%">
                        </div>
                        <div class="slide fade">
                            <img src="https://media.istockphoto.com/id/1407028917/th/%E0%B8%A3%E0%B8%B9%E0%B8%9B%E0%B8%96%E0%B9%88%E0%B8%B2%E0%B8%A2/%E0%B8%A3%E0%B8%B2%E0%B8%81%E0%B8%82%E0%B8%A1%E0%B8%B4%E0%B9%89%E0%B8%99%E0%B8%9A%E0%B8%99%E0%B8%AA%E0%B8%B5%E0%B8%82%E0%B8%B2%E0%B8%A7.jpg?s=612x612&w=0&k=20&c=etvK4czpqlXPY2SmG0x_OniaGeNUL76PDyDQb3-eGCc=" style="width:100%">
                        </div>
                    </div>
                    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                    <a class="next" onclick="plusSlides(1)">&#10095;</a>
                </div>

                <div class="cdetail">
                    <p class="hover-text">แตะเพื่อดูข้อความ</p>
                    <div class="ddetail">
                    <h4>ข้อมูลเบื่องต้น</h4>
                    <p style="text-indent: 2.5em">
                        ขมิ้นชันเป็นพืชล้มลุกอายุหลายปี สูงประมาณ 30-95 ซม. ลําต้นใต้ดินเป็นเหง้า มีทั้งเหง้าหลักที่เจริญชูตั้ง รูปไข่ หรือรูปไข่แกมรี 
                        บางครั้งเรียกเหง้าหลักว่า “หัว” ด้านข้างของเหง้าหลักแตกแขนงในแนวระนาบ แต่ละแขนงมักแตกย่อยต่อไปได้อีก 1-2 ครั้ง 
                        เหง้าแขนงรูปคล้ายทรงกระบอก หรือ คล้ายนิ้วมือ ตรง หรือ โค้งเล็กน้อย บางครั้งเรียกเหง้าแขนงว่า “แง่ง” เนื้อเหง้าสีส้ม และมีกลิ่นเฉพาะ</p>
                    <h4>คุณสมบัติ</h4>
                        <p style="text-indent: 2.5em">แก้อาการท้องอืด ท้องเฟ้อ แน่น จุกเสียด อาหารไม่ย่อย อาการแสบคัน แก้หิว และแก้กระหาย</p>
                        
                    <h4>ข้อควรระวัง</h4>
                        <p style="text-indent: 2.5em">ไม่ควรรับประทานสารสกัดที่ได้จากเหง้าขมิ้นชันติดต่อกันเป็นระยะเวลานาน เพราะอาจทำให้เกิดอาการกระวนกระวาย งุ่นง่าน กระสับกระส่าย ถ่ายเป็นเลือด อาเจียน 
                            และสตรีที่มีครรภ์ในระยะแรกๆ ไม่ควรรับประทานเด็ดขาดเพราะอาจทำให้แท้งบุตรได้ การใช้ขมิ้นเป็นยารักษาโรคกระเพาะ ถ้าใช้ขนาดสูงเกินไป 
                            จะทำให้เกิดแผลในกระเพาะ คนไข้บางคนอาจมีอาการแพ้ขมิ้น โดยมีอาการคลื่นไส้ ท้องเสีย ปวดหัว นอนไม่หลับ
                       </p>
                    </p>
                    <h4>เมนูแนะนำ</h4>
                    <p> - ไก่ผัดขมิ้น <br>
                        - ไก่กอและ <br>
                        - หมูสะเต๊ะ 
                   
                   
                   
                        
                     
                    </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let slideIndex = 0;
        showSlides(slideIndex);
    
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }
    
        function showSlides(n) {
            let i;
            let slides = document.getElementsByClassName("slide");
            if (n >= slides.length) { slideIndex = 0 }
            if (n < 0) { slideIndex = slides.length - 1 }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none"; 
            }
            slides[slideIndex].style.display = "block"; 
        }
        </script>
</div>
</body>
</html>
{% endblock %}